# Порт, на котором будет запущен сервер
PORT=5000

# Секретный ключ или соль для хеширования паролей
SALT=your_salt_here

# Адрес базы данных
DB_HOST=127.0.0.1

# Имя пользователя БД
DB_USER=test

# Пароль пользователя БД
DB_PASSWORD=test

# Порт БД
DB_PORT=27017

# Имя БД
DB_NAME=buy-and-sell
